.dayRemindersModal {
    display: flex;
    flex-direction: column;

    .dayRemindersModalTitle {
        display: flex;
        > * {
            margin: 1em;
            &.deleteAll {
                border: 2px solid #c0392b;
                background-color: #e74c3c;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .addButton {
        align-self: flex-end;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #2980b9;
        color: #fff;
        font: bold 2em 'Monstserrat';
        height: 2em;
        width: 2em;
        border-radius: 50%;
    }
}