.calendarBody {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color: #000;
    .calendarDaysTitleContainer {
        flex: 0 1 auto;
        display: grid;
        grid-gap: 0.25em;
        grid-template-columns: repeat(7, 1fr);
        background-color: #27ae60;
        .dayTitle {
            padding: 0.25em 0.5em;
            background-color: #27ae60;
            color: #fff;
            font-weight: bold;
            text-align: center;
        }
    }
    .calendarWeeksContainer {
        flex: 1 1 auto;
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(1px, 1fr));
        grid-gap: 0.25em;
        margin-top: 0.25em;
        .calendarWeekRow {
            display: grid;
            grid-gap: 0.25em;
            grid-template-columns: repeat(7, 1fr);
    
            .calendarItem {
                background-color: #fff;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                &:first-child, &:last-child {
                    background: #ecf0f1 !important;
                }
                &.inactive {
                    color: #7f8c8d;
                }
                &:not(.inactive) {
                    .dayNumber {
                        &.today {
                            background: #2980b9;
                            color: #fff;
                        }
                    }
                }
                .dayNumber {
                    padding: 5px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}